<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <title>Home</title>
      <link rel="stylesheet" type="text/css" href="/styles.css">
  </head>
  <body class="home bg-image">
    <div class="center">
      <form method="post" enctype="multipart/form-data">
        <div>
          <label for="image" class="big">Choose a picture of your animal:</label>
          <input type="file" id="image" name="image" multiple />
        </div>
        <div>
          <button>Submit</button>
        </div>
      </form>
    </div>
  </body>
</html>